* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  background-color: hsl(234, 29%, 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 300px;
  padding: 0 10px;
  gap: 20px;
}

.newsletter-card {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-radius: 15px;
  max-width: 750px;
}

.newsletter-card__content {
  flex: 1;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding: 20px 50px 20px 12px;
  gap: 20px;
}

/** Top side - Mobile Image */
.newsletter-card__mobile-img {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.newsletter-card__title {
  font-size: 2.5rem;
  font-weight: 800;
}

.newsletter-card__message {
  font-size: 1rem;
  line-height: 1.4;
}

.newsletter-card__lists {
  font-size: 1rem;
  list-style-type: none;
}

.newsletter-card__lists li {
  display: flex;
  align-items: center;
  gap: 16px;
}

/** adds margin bottom to the first 2 li. last li not included */
.newsletter-card__lists li:not(:last-child) {
  margin-bottom: 8px;
}

.newsletter-card__lists li::before {
  content: "";
  display: block;
  min-width: 18px;
  height: 18px;
  background-image: url(./assets/images/icon-list.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* .newsletter-card__lists li:last-child::before {
  padding-top: 2px;
} */

.newsletter-card__form {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.newsletter-card__form-label,
.newsletter-card__form-email {
  display: block;
}

.newsletter-card__form-label {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.newsletter-card__form-email {
  width: 100%;
  padding: 14px 15px 15px;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 0.9rem;
}

.newsletter-card__form-email::placeholder {
  font-size: 0.9rem;
}

.newsletter-card__form-email:focus {
  outline: none;
  border-color: hsl(234, 29%, 20%);
  box-shadow: 0 0 0 1px hsl(234, 29%, 20%);
}

.newsletter-card__form-button {
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
  font-weight: 700;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.15s;
}

.newsletter-card__form-button:hover {
  background-color: hsl(234, 29%, 35%);
}

.newsletter-card__form-button:active {
  background-color: hsl(234, 29%, 20%);
}

/** Right side - Desktop Image */

.newsletter-card__image {
  flex: 0 0 300px;
  width: 300px;
}

.newsletter-card__desktop-img {
  width: 100%;
  height: 100%;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/** Success state  */

.newsletter-card__success-state {
  background-color: hsl(0, 0%, 100%);
  display: none;
  flex-direction: column;
  padding: 60px 45px;
  max-width: 450px;
  min-width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  gap: 25px;
}

.newsletter-card__success-image {
  width: 50px;
}

.newsletter-card__success-title {
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 1;
}

.newsletter-card__success-message {
  font-size: 1rem;
  line-height: 1.5;
}

.newsletter-card__success-email {
  font-weight: 700;
}

.newsletter-card__success-button {
  background-color: hsl(234, 29%, 20%);
  border: none;
  border-radius: 5px;
  width: 100%;
  color: hsl(0, 0%, 100%);
  padding: 16px 0;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.15s;
}

.newsletter-card__success-button:hover {
  background-color: hsl(234, 29%, 35%);
}

.newsletter-card__success-button:active {
  background-color: hsl(234, 29%, 20%);
}

@media (max-width: 500px) {
  body {
    min-width: 300px;
  }

  .newsletter-card {
    flex-direction: column;
    max-width: 350px;
    padding: 0 0 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .newsletter-card__content {
    padding: 10px 20px;
  }

  .newsletter-card__title {
    margin-top: 8px;
  }

  .newsletter-card__message {
    font-size: 1rem;
  }

  .newsletter-card__lists li {
    font-size: 1rem;
    align-items: flex-start;
  }

  .newsletter-card__lists li::before {
    margin-top: 2px;
  }

  .newsletter-card__lists li:last-child span {
    margin-top: 1px;
  }

  .newsletter-card__form-label {
    font-size: 0.7rem;
  }

  .newsletter-card__form-email {
    padding: 8px 15px 9px;
  }

  .newsletter-card__image {
    width: 100%;
    display: none;
  }

  .newsletter-card__image-img {
    display: none;
  }

  .newsletter-card__mobile {
    margin: -10px -20px 0 -20px;
  }

  .newsletter-card__mobile-img {
    display: block;
    object-fit: cover;
  }
}
